.header {
  position: relative;
  background-image: radial-gradient(#0c0500dc 100%, #00000018), url(../img4.jpg);
  background-size: cover;
  background-position-y: bottom;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-attachment: fixed;
  @include respond(tab-port) {
    background-image: radial-gradient(#0c0500dc 100%, #00000018),
      url(../img4.jpg);
    background-size: cover;
    background-position-x: center;
  }
}
