// #E45826#F0A500#B5FE83#FFE61B#FFB72B#F7F7F7
// #1c0a00;

$color--primary--light: #f0a500;
$color--primary--dark: #110600;
$color--secondary--light: rgb(134, 132, 132);
$color--secondary--lighter: rgba(134, 132, 132, 0.781);
